.panel{
    display:flex; 
    flex-direction: row;
    min-height:63vh; 
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    background:url(./wave.svg) no-repeat;
    background-color:rgb(83, 80, 106);
    background-position:100% 105%;
    border-bottom:1px solid rgb(113, 249, 245);
    
}

.panel .visualSection{
    height:100%;
    width:50%; 
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
@media(min-width:1920px){
    .visualSection svg{
        width:50%;
        height:50%;
    }
}
.panel .infoSection{
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.panel a{
    border:1px solid rgb(83, 80, 106);
    font-weight:400;
    font-size:2.5em;
    margin-top:1.2rem;
    margin-bottom:1.2rem;
    background-color:rgb(113, 249, 245);
    color:rgb(51, 48, 70);
    padding:2.5rem 4rem;
    cursor:pointer;
    white-space: nowrap;
    border-radius:5rem; 
}

.panel a:hover{
    transition:all 0.1s linear; 
    background-color:rgb(89, 232, 227);
    text-decoration:none;
}

.infoSection p{
    color:white;
    font-size:calc(4em + 1vmin); 
    font-weight:700;
    font-family: clashDisplayBold;
    margin:0;
    width:30%;
}

.infoSection p:nth-of-type(1){
    align-self: flex-start;
    margin-left:18%;
}

.infoSection p:nth-of-type(2){
    align-self:center;
}

.infoSection p:nth-of-type(3){
    align-self:flex-end;
    margin-right:15%;
}

/**** SVG ANIMATION STYLES ****/
svg * {
    transform-box: fill-box;

}

.firstLines{
    transform-origin:center;
    transform:scale(0.01);
    transition:all 1s linear;
    animation:firstLinesAni 10s infinite;
}

.firstCircles{
    opacity:0;
    transform-origin:center;
    transition:all 1s linear;
    animation:firstCirclesAni 10s infinite;
}

.sideLines{
    opacity:0;
    transition:all 1s linear;
    animation:sideLinesAni 10s infinite;

}

.award{
    opacity:0;
    transition:all 1s linear;
    animation:awardAni 10s infinite;
}

.middleCircle{
    transform-origin:center;
    transform:scale(0.01);
    transition:all 1s linear;
    animation: middleCircleAni 10s infinite;
}

.gear{
    transform-origin:center;
    opacity:0;
    transition:all 1s linear;
    animation:gearAni 10s infinite;
}

@keyframes middleCircleAni{
   0%{

   }20%{
    transform:scale(1);
   }35%{
    transform:scale(1);
   }40%{
       transform:scale(0);
   }
}

@keyframes firstLinesAni{
    0%{
        
    }20%{
        transform:scale(1);
    }35%{
        transform:scale(1);
    }40%{
        transform:scale(0);
    }
}
@keyframes firstCirclesAni{
    0%{

    }14%{
        opacity:0;
    }25%{
        opacity:1;
    }35%{
        opacity:1;
    }40%{
        opacity:0;
    }
}
@keyframes sideLinesAni{
    20%{
        opacity:0;
    }35%{
        opacity:1;
    }40%{
        opacity:0;
    }
}
@keyframes gearAni{
    40%{
        opacity:0;
    }50%{
        opacity:1;
        transform:rotate(-420deg)
    }65%{
        opacity:1;
    }70%{
        opacity:0;
    }
}
@keyframes awardAni{
    70%{
        transform:translateY(4rem);
        opacity:0;
    }85%{
        opacity:1;
        transform:translateY(-4rem);
    }100%{
        opacity:0;
        transform:translateY(4rem)
    }
}

@media (max-width: 1000px){
    .infoSection p{
        font-size:calc(2em + 2vmin);
    }
}
@media (max-width:740px) {
    .panel{
        flex-direction: column;
        background-position:100% 100%;
    }
    .panel .visualSection{
       justify-content: center;
    }
    .panel a{
        text-align: center;
        padding:2.5rem 3rem;
    }
    .panel .infoSection{
        width:60%;
    }
    .infoSection p:nth-of-type(1){
        margin-left:0%;
    }
    .infoSection p:nth-of-type(3){
        margin-right:0%;
    }
}
@media (max-height:500px) {
    .panel{
        max-height:200vh;
    }
}
