nav {
    width:100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x:hidden;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(19, 19, 167);

}

.flexContainer{
    display:flex;
    gap:3rem;
    padding-right:3rem;
}

.logo {
    /*opacity:0;*/
    padding-left:2rem;
    height: 75px;
    width: 75px;
    /*animation: animateFromTop 1s forwards;
    animation-delay: 700ms; */
}

.userName {
    /*opacity:0;*/
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    /*animation: animateFromTop 1s forwards;
    animation-delay: 600ms; */
}

.logOut{
    font-size:2.5rem;
}

@media (max-width: 740px){
    .logOut{
        display:none;
    }
}
