.cardPanel{
    min-height:100vh; 
    display:flex;
    justify-content: center;
}

.cardPanel form{
    display:flex;
    flex-wrap: wrap;
    gap:4rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    height: 45rem;
    width: 32rem;
    background-color: white;
    border-radius: 10px;
}
.card img{
    min-height:35%;
    max-height:40%;
    width:92%; 
    -o-object-fit:contain; 
    object-fit: contain;
    border-radius:7px;
}

.card textarea{
    width:92%; 
    height:35%;
    border:solid 1px rgb(195, 195, 195);
    border-radius: 7px;
    resize:none;
    padding:5px;
    font-weight: 500;
    font-size:calc(1em + 1vmin)
}
.buttonHolder{
    width:100vw;
    display:flex;
    justify-content: center;
}

.cardPanel form button{
    display:block;
    background-color: rgb(89, 232, 227);
    color:rgb(19, 19, 167);
    font-size:calc(1em + 1vmin);
    font-weight:700;
    padding: 2.2rem 4rem;
    border-radius: 3rem;
    margin-bottom:5rem;
    transition:all 0.1s linear;
}
.cardPanel form button:hover{
    transform:scale(1.03) translateY(-3px);
    color:white;
}

.successMSG{
    height:5rem;
    text-align: center;
    background-color:lightgreen;
    color:white; 
    font-size:calc(1em + 1vmin)
}