.panel{
    display:flex; 
    flex-direction: row;
    background-color:lightblue;
    height:80vh; 
    width:100%; 
    align-items: center;
    justify-content: center;
}
.panel .visualSection{
    height:100%;
    width:50%; 
}
.panel .infoSection{
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.panel button{
    font-weight:400;
    font-size:2.5em;
    margin-top:1.2rem;
    margin-bottom:1.2rem;
    border:none;
    background-color:rgb(19, 19, 167);
    color:white;
    border-radius:5rem; 
    padding-top:2.5rem; 
    padding-bottom:2.5rem;
    padding-left:4.5rem; 
    padding-right:4.5rem;
    cursor:pointer;
}

.panel button:hover{
    transition:all 0.1s linear; 
    background-color:rgb(89, 232, 227);
}

.infoSection div{
    font-size: 5rem;
    text-align: center;
    color:white;
    font-family: clashDisplayBold;
}

.firstLines{
    opacity:0;
}
.firstCircles{
    opacity:0;
}
.sideLines{
    opacity:0;
}
.award{
    opacity:0;
}
.middleCircle{
    opacity:0;
}
.gear{
    opacity:0;
}

@keyframes visual{
    0%{
        
    }
}