.dash {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 89vh;
    background-color:rgb(19, 19, 167);
}

.actionPanel {
    min-height: 100%;
    min-width: 21rem;
    padding-top: 2rem;
    padding-left:7rem;
    padding-bottom:1rem;
    background-color:rgb(19, 19, 167);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 700;
    gap: 2rem;
    font-size: calc(1.2em + 1vmin);
    /*border-bottom: 1px solid rgb(19, 19, 120);
    border-top: 1px solid rgb(19, 19, 120);*/
}

.actionPanel button{
    border:1px solid white;
    border-radius:3rem;
    padding:1.5rem 2rem;

}
.actionPanel button:hover{
    background-color:white; 
    color:rgb(19, 19, 167);
}

.deckHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100%;
    padding-top:2rem;
    padding-left:7rem;
    padding-bottom: 2rem;
    background-color: rgb(19, 19, 167);;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
    width: 25rem;
    border-radius: 5px;
}

.deckTitle {
    margin-top: 5rem;
    text-align: center;
    font-size: calc(2em + 1vmin);
    font-weight: 700;
}

.deckDesc {
    margin-top:1.5rem;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    font-size: 1.5rem;
}
.deckCardCount{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    font-size:1.4rem;
}

.deck button{
    margin-top:1rem;
    font-weight: 700;
    font-size:1.5rem;

}

.deleteButton{
    font-weight:600;
    margin-top:1rem;
    color:white; 
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: rgb(250, 40, 40);
}

.deleteButton:hover{
    background-color: rgb(232, 1, 1);
    transition:transform 0.08s linear;
    transform:scale(1.02)
}

.addDeckPanel {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.addDeckCard {
    background-color: white;
    width: 30rem;
    max-height: 40rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addDeckCard form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.addDeckCard label {
    font-size: calc(1em + 1vmin);
    width: 80%;
    padding-left: 10px;
    margin-bottom: 1rem;
    font-weight: 600;
    color: black;
}

.addDeckCard input {
    font-size: calc(1em + 1vmin);
    width: 86%;
    border: none;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.addDeckCard form select {
    font-size: calc(1em + 1vmin);
    width: calc(86% + 5px);
    padding: 1rem;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 1.5rem;
}

.addDeckCard button {
    width: 86%;
    height: 4rem;
    margin-left: 7%;
    font-size: calc(1em + 1vmin);
    font-weight: 500;
    background-color: rgb(113, 249, 245);
    color: black;
    border: 1px solid white;
    border-radius: 2rem;
    cursor: pointer;
}


@media (max-width: 740px){
    .actionPanel{
        padding-left:0;
        justify-content: center;
    }
    .deckHolder{
        padding-left:0;
        justify-content: center;
    }
}